---
title: 开智校友博客
---

<div class="wrap-categories">
  <section class="category">
    <h3>最新动态</h3>
    {% for post in site.posts %} {% if post.categories[0] == '最新动态'%}
    <div>
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    </div>
    {% endif%} {% endfor%}
  </section>

  <section class="category">
    <h3>学员故事</h3>
    {% for post in site.posts %} {% if post.categories[0] == '学员故事'%}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif%} {% endfor%}
  </section>

  <section class="category">
    <h3>学员作品</h3>
    {% for post in site.posts %} {% if post.categories[0] == '学员作品'%}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif%} {% endfor%}
  </section>

  <section class="category">
    <h3>原创好文</h3>
    {% for post in site.posts %} {% if post.categories[0] == '原创好文'%}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif%} {% endfor%}
  </section>
</div>
