---
title: 开智校友博客
image: /images/category/home.jpeg
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section
  class="hero"
  style="background-image: url({% include relative-src.html src=page.image %})"
>
  <div class="inner-hero text-container">
    <div class="hero-text-container">
      <h1 class="editable">开智校友博客</h1>
      <p class="subtext editable"></p>
      <!-- <div class="cta button alt"><a href="#">快来看看吧</a></div> -->
    </div>
  </div>
</section>

<div class="content">
  <section>
    <ul class="blog-posts">
      {% include list-posts.html posts=site.posts %}
    </ul>
  </section>
</div>
